.dashboard_contaner,
.dashboard_block_title,
.dashboard_note_body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard_contaner {
    justify-content: flex-start;
    background: #eadcee;
    width: 80%;
    padding: 3rem;
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
}

.dashboard_block {
    background: white;
    border-radius: 20px;
    box-shadow: 35px 35px 68px 0px rgba(217, 92, 243, 0.5),
        inset -6px -6px 16px 0px rgba(217, 92, 243, 0.6),
        inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.dashboard_block_title {
    font-size: x-large;
    font-weight: bolder;
    margin: 1rem 0;
}

.dashboard_note_body {
    flex-direction: column;
    padding-bottom: 2rem;
}

.dashboard_note_count {
    font-size: 4rem;
    padding-bottom: 1rem;
    color: blueviolet;
    font-weight: bolder;
}