.page_contaner,
.about_page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_contaner {
    padding-top: 1rem;
    flex-direction: column;
}

.page_title {
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 1rem;
}


.about_page {
    flex-direction: column;
    height: 80vh;
}

.about_page img {
    height: 10rem;
    padding: 2rem;
}