.SideBar_contaner,
.SideBar_top,
.SideBar_bottom,
.SideBar_middle,
li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;
}

.SideBar_contaner {
    flex: 1;
    height: 100vh;
}

.SideBar_top {
    height: 10vh;
    width: 100%;
    justify-content: center;
    font-size: x-large;
    flex-direction: row;
}

.SideBar_top img {
    height: 2rem;
    padding-right: 1rem;
}

.SideBar_bottom {
    height: 50px;
    width: 100%;
    justify-content: center;
}

.SideBar_middle {
    width: 100%;
}

.SideBar_middle li {
    list-style: none;
    padding: 1rem;
}

.SideBar_middle li:hover {
    background: #eadcee;
    border-radius: 20px;
}

.SideBar_middle a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}